<script setup lang="ts">
import tableList from "../components/cook/TableList.vue";
import myTableList from "../components/cook/MyTableList.vue";
import { onMounted, onUnmounted } from "vue";
import { useLoginStore } from "@/stores/Login";
import { useFoodQueueStore } from "@/stores/foodQueue";
import CancleDialog from "@/views/CancleDialog.vue";
const loginStore = useLoginStore();
const foodQueueStore = useFoodQueueStore();

onMounted(async () => {
  loginStore.currentChef = localStorage.getItem("currentChef")!;
  foodQueueStore.chefName = loginStore.currentChef;
  loginStore.currentEmp = localStorage.getItem("currentEmp")!;
  await foodQueueStore.getMyFoodQueue();
  await foodQueueStore.getAllFoodQueueChef();
});
</script>

<template>
  <CancleDialog></CancleDialog>
  <v-container class="mt-2">
    <v-row justify="space-around">
      <v-col
        cols="6"
        justify="space-around"
        xs="12"
        sm="12"
        md="6"
        lg="6"
        xl="6"
      >
        <h6 class="mb-6" style="font-size: 25pt">รายการอาหาร</h6>
        <tableList> </tableList>
      </v-col>

      <v-col
        cols="6"
        justify="space-around"
        xs="12"
        sm="12"
        md="6"
        lg="6"
        xl="6"
      >
        <h6 class="mb-6" style="font-size: 25pt">รายการอาหารของฉัน</h6>
        <myTableList> </myTableList>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped></style>
