<script setup lang="ts">
import TableBoxPop from "@/components/TableBoxPop.vue";
import PopupTable from "@/components/PopupTable.vue";
import { useTableStore } from "@/stores/table";
import { usemanagePopupStore } from "@/stores/popupManagement";
import { computed, onMounted, onUnmounted, ref, watch } from "vue";
import MessageBox from "@/components/MessageBox.vue";
import ScanQRVue from "@/components/ScanQR.vue";
import { useLoginStore } from "@/stores/Login";
import { useFoodQueueStore } from "@/stores/foodQueue";
const loginStore = useLoginStore();
const popupTable = usemanagePopupStore();
const tablestore = useTableStore();
const foodQueueStore = useFoodQueueStore();
const tablesStore = useTableStore();
const colorTable = ref("#b2dfdb");
const borderTable = ref("#00695c");
const cardStyle = computed(() => {
  return `border: solid ${borderTable.value}; margin: 10px; background-color: ${colorTable.value}`;
});

function changeColor(status: string): string {
  if (status === "พร้อมใช้งาน") {
    colorTable.value = "#b2dfdb";
    borderTable.value = "#00695c";
  } else if (status === "กำลังใช้งาน") {
    colorTable.value = "#FFCCCB";
    borderTable.value = "#FF0000";
  } else if (status === "รอทำความสะอาด") {
    colorTable.value = "#C0C0C0";
    borderTable.value = "#808080";
  } else if (status === "กำลังทำความสะอาด") {
    colorTable.value = "#FFFFE0";
    borderTable.value = "#FFFF00";
  }
  return cardStyle.value;
}

const fetchRealtimeData = async () => {
  await tablestore.getTables();
};

// ตั้งค่า interval ให้เรียกใช้ฟังก์ชัน fetchRealtimeData() ทุกๆ 5 วินาที
const interval = setInterval(fetchRealtimeData, 500);

onUnmounted(() => clearInterval(interval));

onMounted(async () => {
  await tablestore.getTables();
  tablestore.indexSelected = 0;
  if (loginStore.currentChef !== "") {
    console.log("คุณคือพ่อครัว: " + loginStore.currentChef);
    // console.log("เทสเทส 111" + foodQueueStore.chefName);
    foodQueueStore.chefName = loginStore.currentChef;
    // console.log("เทสเทส" + foodQueueStore.chefName);
  } else if (loginStore.currentEmp !== "") {
    console.log("คุณคือพนักงาน: " + loginStore.currentEmp);
  } else {
    console.log("คุณคือลูกค้า");
  }
  await tablesStore.getTableByStatus("พร้อมใช้งาน");
  console.log(tablesStore.tableByStatusName);
});
</script>

<template>
  <ScanQRVue></ScanQRVue>
  <MessageBox></MessageBox>
  <PopupTable
    :id="tablestore.tables[tablestore.indexSelected].id!"
    :name="tablestore.tables[tablestore.indexSelected].name!"
    :amount="tablestore.tables[tablestore.indexSelected].amount!"
    :status="tablestore.tables[tablestore.indexSelected].status!"
    style="position: relative"
  >
  </PopupTable>

  <v-container>
    <v-row justify="start">
      <v-col
        v-for="item in tablestore.tables"
        :key="item.id"
        cols="12"
        xs="12"
        sm="12"
        md="3"
        lg="3"
        xl="3"
      >
        <!-- @click="selected(index)" -->
        <TableBoxPop
          :id="item.id!"
          :name="item.name!"
          :amount="item.amount!"
          :status="item.status!"
          :style="changeColor(item.status!)"
        >
        </TableBoxPop>
      </v-col>
    </v-row>
  </v-container>
</template>
