<script setup lang="ts"></script>

<template>
  <v-slot>
    <v-table>
      <tr>
        <th>
          <v-img
            src="https://cdn-icons-png.flaticon.com/512/1055/1055644.png"
            height="50"
          >
          </v-img>
        </th>
      </tr>
      <tr>
        <td class="text-center"><h6>รายงานร้าน</h6></td>
      </tr>
    </v-table>
  </v-slot>
</template>
