<script setup lang="ts">
import { ref } from "vue";
import { mdiCheckBold, mdiCloseThick } from "@mdi/js";

const dialog = ref(false);
const title = ref("Title");
const desc = ref("Desc");
const ok = ref("OK");
const cancel = ref("Cancel");

let onOK: (value: unknown) => void;
let onCancel: (reason?: any) => void;

const openDialog = (
  titleStr: string,
  descStr: string,
  okStr: string = "ยืนยัน",
  cancelStr: string = "ยกเลิก"
) => {
  title.value = titleStr;
  desc.value = descStr;
  ok.value = okStr;
  cancel.value = cancelStr;
  dialog.value = true;
  return new Promise((resolve, reject) => {
    onOK = resolve;
    onCancel = reject;
  });
};

defineExpose({ openDialog });

function cancelFunc() {
  dialog.value = false;
  onCancel("Cancel");
}

function okFunc() {
  dialog.value = false;
  onOK("OK");
}
</script>

<template>
  <v-row justify="center">
    <v-dialog v-model="dialog" persistent width="auto">
      <v-card>
        <v-card-title class="text-h5">
          {{ title }}
        </v-card-title>
        <v-card-text>{{ desc }}</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            :prepend-icon="mdiCloseThick"
            color="red-darken-1"
            variant="text"
            @click="cancelFunc"
          >
            {{ cancel }}
          </v-btn>
          <v-btn
            :prepend-icon="mdiCheckBold"
            color="green-darken-1"
            variant="text"
            @click="okFunc"
          >
            {{ ok }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
