<script setup lang="ts">
import { ref, watch, computed, onMounted } from "vue";
import { usemanagePopupStore } from "@/stores/popupManagement";
import { useFoodStore } from "@/stores/foods";
import { useSelectStore } from "@/stores/selectMenu";
import type Food from "@/types/Food";
import { useOrderItemStore } from "@/stores/orderItem";
import type OrderItem from "@/types/OrderItem";
import { useOrderStore } from "@/stores/orders";
import { useQrCodeStore } from "@/stores/qrcode";
import { useNavigationBottonManagement } from "@/stores/navigationBottonManagement";
const backendURL = import.meta.env.VITE_BACKEND_URL;
const foodStore = useFoodStore();
const qrcodeStore = useQrCodeStore();
const orderStore = useOrderStore();
const navBottomStore = useNavigationBottonManagement();
const selected = useSelectStore();
const popupManagement = usemanagePopupStore();
const orderItemStore = useOrderItemStore();
const order = ref<Food>();
const noteText = ref<string>("");
const total = ref(0);
const piece = ref(0);
const noteOrderItem = orderItemStore.orderItemSelect.note;
var sumTemp = 0;
const add = () => {
  orderStore.isPlus = true;
  piece.value++;
  total.value =
    piece.value *
    orderStore.order?.orderItems![orderItemStore.orderItemSelectId].food!
      .price!;
};
const remove = () => {
  orderStore.isPlus = false;
  if (piece.value > 1) {
    piece.value--;
    total.value =
      piece.value *
      orderStore.order?.orderItems![orderItemStore.orderItemSelectId].food!
        .price!;
  }
};
const checked = ref([]);
onMounted(async () => {
  await orderStore.getOrderByID(qrcodeStore.orderUUID);
});
watch(
  () => popupManagement.popupEditOrderIsShow,
  () => {
    total.value =
      orderStore.order?.orderItems![orderItemStore.orderItemSelectId].qty! *
      orderStore.order?.orderItems![orderItemStore.orderItemSelectId].food!
        .price!;
    piece.value =
      orderStore.order?.orderItems![orderItemStore.orderItemSelectId].qty!;
  }
);

function editOrderItem(id: number) {
  popupManagement.popupEditOrderIsShow = false;
  const orderItem: OrderItem = {
    id: orderItemStore.orderItemSelect.id,
    food: orderItemStore.orderItemSelect.food,
    name: orderItemStore.orderItemSelect.name,
    note: orderItemStore.orderItemSelect.note,
    table: orderItemStore.orderItemSelect.table,
    qty: piece.value,
    price: total.value,
    status: "รอยืนยัน",
    foodQueue: {
      status: "รอยืนยัน",
      name: orderItemStore.orderItemSelect.name,
    },
  };
  // orderItemStore.updateMyOrder(id, orderItem);
  orderStore.updateMyOrder(orderStore.order!.id!, orderItem, orderStore.order!);
  console.log(orderStore.order!.id!);
}
function addOrderItem() {
  // id: number;
  // food: number; //use food id as type Food
  // name: string;
  // note: string;
  // table: number;
  // qty: number;
  // status: string;
  // if (condition) {

  // }

  navBottomStore.badgeTrolley += 1;
  const food: number = selected.selectedID;
  const order: OrderItem = {
    id: -1,
    food: foodStore.foods[food],
    name: foodStore.foods[selected.selectedID].name,
    note: noteText.value,
    status: "รอยืนยัน",
    table: {
      status: "ไม่ว่าง",
    },
    qty: popupManagement.piece,
    price: popupManagement.sum,
    // status: "รอทำ",
    foodQueue: {
      status: "รอทำ",
      name: foodStore.foodSelected!.name,
    },
  };
  orderItemStore.addOrderItem(order);
  popupManagement.popupEditOrderIsShow = false;
}
</script>

<template>
  <v-row justify="center">
    <v-dialog v-model="popupManagement.popupEditOrderIsShow" persistent>
      <v-container>
        <v-row>
          <v-col>
            <!-- <v-card> -->
            <v-card
              class="mx-auto"
              max-width="50vh"
              rounded
              style="height: 82vh; overflow-y: auto"
            >
              <v-img
                :src="`${backendURL}/foods/${ orderStore.order?.orderItems![
                      orderItemStore.orderItemSelectId
                    ].food?.id}/image`"
                width="100%"
                height="40vh"
                cover
              ></v-img>

              <v-card-title
                ><h6 style="font-size: 20pt">
                  {{
                    orderStore.order?.orderItems![
                      orderItemStore.orderItemSelectId
                    ].food?.name
                  }}
                </h6>
              </v-card-title>

              <v-card-subtitle
                ><h6 style="font-weight: lighter">
                  {{
                    orderStore.order?.orderItems![
                      orderItemStore.orderItemSelectId
                    ].food?.info
                  }}
                </h6>
              </v-card-subtitle>
              <v-divider class="mt-2"></v-divider>
              <v-container>
                <v-row>
                  <v-col cols="6">
                    <v-btn block @click="remove"><h6>ลด</h6> </v-btn></v-col
                  >
                  <v-col cols="6"
                    ><v-btn block @click="add"><h6>เพิ่ม</h6> </v-btn></v-col
                  >
                </v-row>
                <v-row>
                  <v-container>
                    <!-- <v-row class="justify-space-around">
                      <v-col
                        class="pa-0"
                        v-for="(item, index) in foodStore.foods[
                          selected.selectedID
                        ].option"
                        :key="index"
                        cols="12"
                        md="4"
                        ><h6>
                          <v-checkbox
                            :label="`${item.name} ` + `${item.price}`"
                            :value="item.name"
                            v-model="checked"
                          ></v-checkbox>
                        </h6>
                      </v-col>
                    </v-row> -->
                    <v-divider></v-divider>
                  </v-container>
                </v-row>
                <v-container
                  ><v-row class="justify-center">
                    <v-col><h6>รวม</h6></v-col>
                    <v-col
                      ><h6>
                        {{ piece }}
                        ชิ้น
                      </h6></v-col
                    >
                    <v-col
                      ><h6>
                        {{ total }}
                        บาท
                      </h6></v-col
                    >
                  </v-row></v-container
                >
                <v-divider class="mt-2"></v-divider>
                <v-row class="mt-2">
                  <v-col>
                    <h6>
                      <v-text-field
                        label="หมายเหตุ"
                        variant="solo"
                        v-model="orderItemStore.orderItemSelect.note"
                      ></v-text-field>
                    </h6>
                  </v-col>
                </v-row>
              </v-container>
              <v-card-actions>
                <v-btn
                  text
                  @click="popupManagement.popupEditOrderIsShow = false"
                  ><h6>ยกเลิก</h6></v-btn
                >

                <v-btn
                  @click="
                    editOrderItem(
                      orderStore.order?.orderItems![
                        orderItemStore.orderItemSelectId
                      ].id!
                    )
                  "
                  color="purple"
                  text
                  ><h6>ตกลง</h6></v-btn
                >

                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-dialog>
  </v-row>
</template>

<style scoped>
table {
  background-color: antiquewhite;
}

img {
  margin: 20px 20px;
}
</style>
