<script setup lang="ts">
import { mdiLogout } from "@mdi/js";
import { useLoginStore } from "@/stores/Login";
import { useTableStore } from "@/stores/table";
import { useOrderStore } from "@/stores/orders";
import type Table from "@/types/Table";
import tableService from "@/services/table";
import { onMounted } from "vue";
import orderService from "@/services/order";

const loginStore = useLoginStore();
const tableStore = useTableStore();
const orderStore = useOrderStore();

const props = withDefaults(
  defineProps<{
    id: number;
  }>(),
  {}
);

async function changeTable() {
  console.log(tableStore.selectedTable);
  console.log(props.id);
  console.log(orderStore.idOrder);
  tableStore.getTableSelectedID = tableStore.selectedTable;
  console.log("Change Table To: " + tableStore.getTableSelectedID);
  let changetable: Table = {
    status: "กำลังใช้งาน",
  };
  let table: Table = {
    status: "รอทำความสะอาด",
  };
  await tableService.updateTable(orderStore.idTable, table);
  await orderService.changeTable(orderStore.idOrder, tableStore.selectedTable);
  await tableService.updateTable(tableStore.selectedTable, changetable);
  // localStorage.setItem("getTableSelectedID", "" + tableStore.selectedTable);
  tableStore.getTableSelectedID = tableStore.selectedTable;
  tableStore.moveDialog = false;
  tableStore.selectedTable = null;
  tableStore.tableByStatusName = [];
  await tableStore.getTableByStatus("พร้อมใช้งาน");
}
onMounted(async () => {});
</script>

<template>
  <v-row>
    <v-dialog v-model="tableStore.moveDialog">
      <v-card
        class="mx-auto"
        max-width="80vh"
        max-height="90vh"
        rounded
        style="overflow-y: auto"
      >
        <v-card-title class="text-center">
          <h6 style="font-size: 16pt">ย้ายโต๊ะ</h6>
          <v-select
            v-model="tableStore.selectedTable"
            style="width: 25vw"
            label="เลือกโต๊ะที่ต้องการ"
            :items="tableStore.tableByStatusName"
            variant="solo"
          ></v-select>
        </v-card-title>
        <v-card-actions class="justify-center">
          <v-btn
            color="error"
            :prepend-icon="mdiLogout"
            variant="text"
            @click="tableStore.moveDialog = false"
          >
            ปิด
          </v-btn>
          <v-btn color="blue-darken-1" variant="text" @click="changeTable()">
            ยืนยัน
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
